@page "/"

<PageTitle>Home</PageTitle>

<div class="center-content">
    <h1>BLACKSHOT REBIRTH</h1>

    <img src="Images/BlackShotHomeWebSite.jpg" alt="Descrição da imagem" class="img-fluid mx-auto d-block" style="max-width: 20%;" />

    <h2>Objetivo do Projeto</h2>
    <p class="centered-text">
        Ao longo dos anos, o BlackShot se tornou um jogo ruim devido a atualizações desnecessárias que estragaram um jogo que <br />
        fez parte de nossas vidas.<br />
        A ideia central do projeto é retornar o jogo à época de 2014, quando éramos muito mais felizes <br />
        com ele. Este site será um portal onde cada atualização será publicada, mostrando em que momento o projeto se encontra. <br />
        Não estamos em busca de dinheiro, mas sim de reviver uma época e trazer bons momentos novamente à tona.
    </p>

    <br />
    <h2>Termo de responsabilidade</h2>
    <p class="centered-text">
        Antes de prosseguir com o uso deste software, por favor leia e compreenda os seguintes termos: <br /><br />
        Responsabilidade do Usuário: O uso deste software implica na aceitação de que você é exclusivamente responsável <br />
        por todas as ações realizadas por meio dele. Isso inclui, mas não se limita a, qualquer conteúdo criado, modificado <br />
        ou compartilhado utilizando o software.<br /><br />
        Sem Garantias: Este software é fornecido "como está", sem garantias de qualquer tipo, expressas ou implícitas. <br />
        Não há garantias de que o software estará livre de erros, seguro ou adequado para qualquer propósito específico. <br /><br />
        Limitação de Responsabilidade: Eu, desenvolvedor, não serei responsável por quaisquer danos diretos, indiretos, <br />
        incidentais, consequenciais ou especiais decorrentes do uso ou incapacidade de uso deste software. Isso inclui, <br />
        mas não se limita a, perda de dados, lucros ou danos à reputação. <br /><br />
        Conformidade Legal: Você concorda em usar este software em conformidade com todas as leis, regulamentos e políticas <br />
        aplicáveis. Qualquer uso ilegal ou impróprio do software é estritamente proibido.
    </p>
</div>